* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito Sans', sans-serif;
}

nav {
  padding: .5rem 1rem;
}

.bg-primary {
  background-color: transparent!important;
}

nav button {
  background-color: black!important;
  border-radius: 50%!important;
  padding: .45rem .45rem!important;
  margin: 15px!important;
}

nav img {
  margin: 15px 0 0 15px;
}

nav a {
  color: black!important;
  /*font-size: 25px;*/
}

#profileNav {
  padding: 15px 15px 0 0;
}

#landing-page {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#landing-text {
  text-align: center;
}

#landing-text h2 {
  margin-bottom: 30px;
}

#landing-btn {
  text-decoration: none;
  color: #00163F;
  /*background-color: rgb(0, 22, 63, .7);*/
  border: 2px solid #00163F;
  padding: 8px 15px;
  border-radius: 6px;
  transition: .8s;
}

@media (max-width: 320px) {
  #landing-page {
    margin-top: 25px;
  }

  #landing-page img {
    max-width: 90%;
    height: auto;
    position: relative;
    left: -5%;
  }

  #landing-content {
    position: absolute;
    top: 49.5%;
    left: 56.5%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }

  #landing-page h2 {
    margin-bottom: 55px!important;
  }
}

@media (min-width: 768px) {
  #landing-page img {
    max-width: 90%;
    height: auto;
    position: relative;
    left: -5%;
  }

  #landing-content {
    position: absolute;
    top: 61%;
    left: 61.9%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
}

@media (min-width: 1024px) {
  #landing-page img {
    max-width: 90%;
    height: auto;
    position: relative;
    left: -5%;
  }

  #landing-content {
    position: absolute;
    top: 58%;
    left: 64%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }

}

@media (min-width: 1440px) {
  #landing-page img {
    max-width: 90%;
    height: auto;
    position: relative;
    left: -5%;
  }

  #landing-content {
    position: absolute;
    top: 58%;
    left: 57.5%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }

}

#landing-btn:hover {
  text-decoration: none;
  color: white;
  background-color: rgb(0, 0, 0);
  padding: 8px 15px;
  border-radius: 6px;
}

#projects-page {
  height: 100vh;
  width: 100%;
  padding: 0 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('./../images/proj-bg1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

#projects-text {
  text-align: center;
  margin-bottom: 60px;
  color: white;
}

#projects-page img {
  max-width: 80%;
  height: auto;
  filter: brightness(70%);
}

#item-1, #item-2 {
  position: relative;
  margin: 10px -10px;
  display: flex;
  justify-content: center;
}



@media (min-width: 321px) {
   #item-1 {
    margin-right: -30px;
    margin-left: 30px;
  }
}
@media (max-width: 320px) {
   #item-1, #item-2 {
    margin-left: .5px;
  }
}


#projects-page a {
  text-decoration: none;
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 15px;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: rgb(0, 0, 0, .7);
  color: white;
  padding: 8px 15px;
  transition: .8s;
  border: none;
  border-radius: 6px; 
  text-align: center;
}

#projects-page a:hover {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: black;
  color: white;
  padding: 8px 15px;
  border: none;
  border-radius: 6px;
  text-align: center;
}

#contact-page {
  height: 100vh;
  width: 100%;
  padding: 0 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#contact-text {
  text-align: center;
  padding: 50px 0;
}

@media (max-width: 320px) {
  #contact-map {
  order: 2;
  margin-bottom: 20px;
  margin-top: 15px;
  }

  #contact-form {
    order: 1;
    margin: -20px 0 15px 0;
  }

}

@media (min-width: 768px) {
  #contact-map {
  order: 1;
  }

  #contact-form {
    order: 2;
  }

}

#contact-btn {
  display: flex;
  justify-content: center;
  padding-top: 10px;
}

#firstName, #lastName, #emailAdress, #textArea {
  border: 2px solid black;
}

#send-button {
  text-decoration: none;
  color: white;
  background-color: black;
  padding: 8px 30px;
  border-radius: 6px;
}

#footer {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 25px;
  margin-top: 25px;
}
